.wrapper {
    margin: auto;
    padding-top: 100px;
  }
  
  .form {
    padding: 30px;
    background: rgb(210, 242, 102);
    border: 2px solid #000;
    border-radius: 5px;
    width: 500px;
    margin: auto;
    margin-bottom: 40px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 0 10px rgb(213, 10, 10);
    background: url('https://cdn.pixabay.com/photo/2018/04/05/14/09/sunflowers-3292932__340.jpg') no-repeat center center fixed;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);

  }
  .form label {
    font-weight: bold;
    
  }
   .form:hover{
    box-shadow: 0 0 10px rgba(0, 0,0,0.2);
   }
  
  .form button {
    width: 100%;
    font-weight: bold;
    text-align: center;
    background-color: blue;
    color: white;
    padding: 5px 20px;
    
  }
  
  .form input {
    display: block;
    width: 100%;
    padding: 5px;
    margin: 20px 0 20px 0;
    box-sizing: border-box;
  }
  
  .signup-login {
    border-radius: 10px;
    width: fit-content;
    margin: auto;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    color: blue;
  }
  