
  .mainNav {
  position: sticky;
  width: 100%;
  border-bottom: 5px solid gray;
  padding-bottom: 10px;
}

.mainNav nav {
  box-sizing: border-box;
  width: 70%;
  text-align: left;
  display: inline-block;
}

.mainNav li {
  list-style: none;
  display: inline-block;
  margin: 0 30px 0 30px;
  position: relative;
}

.mainNav a {
  text-decoration: none;
  color: rgb(224, 239, 15);
  font-size: 18px;
}

.mainNav a:hover {
  color: gray;
  transition: color 0.2s ease-in-out;
}

.mainNav li::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #cb1a8d;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

.mainNav li:hover::after {
  transform: scaleX(1);
}


.mainNav li:hover::before {
  transform: scaleX(0);
}
