
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    padding: 20px;
    width: 400px;
    background-color: #1d0d39;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
  }
  
  form:hover {
    transform: scale(1.05);
  }
  
  form h3 {
    margin-top: 0;
  }
  
  label {
    margin-top: 20px;
    font-weight: bold;
  }
  
  input {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  }
  
  input:hover {
        background-color: #3d455f;

  }
  button[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #1c2237;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  button[type="submit"]:hover {
    background-color: #3d455f;
  }
  
  body {
    background: url('https://png.pngtree.com/background/20210706/original/pngtree-hd-brick-wall-background-picture-image_206286.jpg') no-repeat center center fixed;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);

  }
  


  